@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


:root {
    --main-bg-color: brown;
    --font1: 'Roboto', cursive;
    --font2: 'Roboto', sans-serif;

}
.center{
    text-align: center;
}
.font1 {
    font-family: var(--font1);
}

.font2 {
    font-family: var(--font1);
}

.max-width-1 {
    max-width: 80vw;

}

.max-width-2 {
    max-width: 60vw;

}
.mx-1{
    margin-left: 23px;
    margin-right: 23px;

}

.m-auto {
    margin: auto;
}
.my-2{
    margin-bottom: 32px;
    margin-top: 32px;
}
.btn {
    padding: 0px 13px;
    padding-top: 3px;
    border: 2px solid black;
    border-radius: 9px;
    font-size: 16px;
    font-family: var(--font1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: whitesmoke;
    background-color: green;
}

.form-input {
    padding: 0px 5px;
    padding-top: 3px;
    font-size: 16px;
    border: 2px soild black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);

}
.form-box input, textarea{
    width: 52vw;
    padding: 4px 6px;
    margin: 7px 0;
    font-size: 18px;
    font-family: var(--font1);
    border: 2px solid orange;
    border-radius: 10px;
}